{{ define "main"  }}

<ul class="four-grid" role="list" aria-roledescription="Portfolio projects">
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://github.com/CamiloGarciaLaRotta/kboard" title="kboard">
        <img src="{{ "img/kboard.png" | relURL }}" class="icon" alt="kboard">
        <p>kboard</p>
        <p class="subtitle">Terminal App</p>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://github.com/marketplace/actions/watermelon-http-client" title="Watermelon HTTP Client">
        <img src="{{ "img/watermelon.svg" | relURL }}" class="icon" alt="Watermelon HTTP Client">
        <p>Watermelon HTTP Client</p>
        <p class="subtitle">GitHub Action</p>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://cegal.gitlab.io/MOE" title="MOE Project">
        <img src="{{ "img/MOE.svg" | relURL }}" class="icon" alt="MOE Project">
        <p>MOE</p>
        <p class="subtitle">Raspberri Pi</p>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://github.com/CamiloGarciaLaRotta/gifhub" title="GifHub Project">
        <img src="{{ "img/gifhub.gif" | relURL }}" class="icon bordered" alt="GifHub Project">
        <p>GifHub</p>
        <p class="subtitle">GIF generator</p>
      </a>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://github.com/scrum-gang/jobhub-chrome" title="JobHub Project">
        <img src="{{ "img/jobhub.png" | relURL }}" class="icon" alt="JobHub Project">
        <p>JobHub</p>
        <p class="subtitle">Chrome extension</p>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://github.com/CamiloGarciaLaRotta/BitSquatter" title="BitSquatter Project">
        <img src="{{ "img/bitsquatter.svg" | relURL }}" class="icon" alt="Bitsquatter Project">
        <p>BitSquatter</p>
        <p class="subtitle">CLI tool</p>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://github.com/CamiloGarciaLaRotta/w3-weather" title="W3 Weather Project">
        <img src="{{ "img/weather.svg" | relURL }}" class="icon" alt="W3 Weather Project">
        <p>W3 Weather</p>
        <p class="subtitle">Web App</p>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="/blog" title="Blog">
        <img src="{{ "img/beta.svg" | relURL }}" class="icon" alt="Blog">
        <p>Blog</p>
      </a>
    </center>
  </li>
  <li class="project_box" role="listitem" aria-roledescription="Project">
    <center>
      <a href="https://github.com/camilogarcialarotta/presentations" title="Presentations">
        <img src="{{ "img/pi.svg" | relURL }}" class="icon" alt="Presentations">
        <p>Presentations</p>
      </a>
    </center>
  </li>
</ul>
{{ end }}
